<section class="contact-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6">
                <h2 class="title">
                    Contact Us
                </h2>
                <p class="dsc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <img src="../../assets/images/contact-img.png" alt="" class="img-fluid" srcset="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <app-contact-form></app-contact-form>
            </div>
            <div class="col-md-4">
                <div class="contact-data">
                    <p class="title">Location</p>
                    <p class="dsc">Jln Cempaka Wangi No 22, Jakarta - Indonesia</p>
                </div>
                <div class="contact-data">
                    <p class="title">Phone</p>
                    <p class="dsc">+91 0120120120</p>
                </div>
                <div class="contact-data">
                    <p class="title">Mail</p>
                    <p class="dsc">test@mail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-location-map></app-location-map>