<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-slide slide-one">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 p-10">
              <h2>{{sliderContent.sliderOne.title}}</h2>
              <p>{{sliderContent.sliderOne.dsc}}</p>
              <button class="slide-one-btn mb-2" [routerLink]="['/products/juices']">{{sliderContent.sliderOne.buttonName}}</button>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 data-center">
              <img src="../../assets/images/3-Botol-e1642165057390.png" class="home-about-img img-fluid" alt="home-about">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-slide slide-two">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 p-10">
              <h2>{{sliderContent.sliderTwo.title}}</h2>
              <p>{{sliderContent.sliderTwo.dsc}}</p>
              <button class="slide-two-btn mb-2" [routerLink]="['/products/mineral-water']">{{sliderContent.sliderTwo.buttonName}}</button>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 data-center">
              <img src="../../assets/images/3-Botol-e1642165057390.png" class="home-about-img img-fluid" alt="home-about">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-slide slide-three">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 p-10">
              <h2>{{sliderContent.sliderThree.title}}</h2>
              <p>{{sliderContent.sliderThree.dsc}}</p>
              <button class="slide-three-btn mb-2" [routerLink]="['/products/premium-drinks']">{{sliderContent.sliderThree.buttonName}}</button>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 data-center">
              <img src="../../assets/images/3-Botol-e1642165057390.png" class="home-about-img img-fluid" alt="home-about">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>