.product-banner{
    background: url(../../assets/images/peoduct-bg.svg);
    padding: 30px 0px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 300px;
}
.product-banner .title{
    font-weight: 700;
    font-size: 42px;
    color: white;
}
.product-banner .dsc{
    color: #00a0ff;
    font-weight: 500;
    font-size: 18px;
}