<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand brand-logo" href="#">
          <img src="assets/images/kadat-logo.png" alt="kadat-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto pl-lg-4">
         <ng-container *ngFor="let menu of menuList">
            <li class="nav-item mlr" *ngIf="!menu.isSubMenu">
                <a class="nav-link" aria-current="page" [routerLinkActive]="'active'" [routerLink]="[menu.link]">{{menu.name}}</a>
            </li>
            <li class="nav-item mlr dropdown" *ngIf="menu.isSubMenu">
                <a class="nav-link dropdown-toggle" [routerLinkActive]="'active'" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{menu.name}}
                </a>
                <ul class="dropdown-menu  shadow-sm sm-menu"  aria-labelledby="navbarDropdownMenuLink">
                  <li *ngFor="let subMenu of menu.subMenu">
                    <a class="dropdown-item" [routerLinkActive]="'subactive'" [routerLink]="[subMenu.link]">{{subMenu.name}}</a>
                  </li>
                </ul>
            </li>
         </ng-container>
        </ul>
      </div>
      <a href="tel:{{contactNumber}}" class="navbar-mobile-no d-md-none d-none d-lg-block">
        <i class="lni lni-phone"></i> {{contactNumber}}</a>
    </div>
  </nav>