<!-- slider start -->
<app-slider></app-slider>
<!-- slider end -->
<section class="home-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6">
                <p class="title">{{homeContent.aboutUs.title}}</p>
                <h2>{{homeContent.aboutUs.subTitle}}</h2>
                <p>{{homeContent.aboutUs.dsc}}</p>
                <ul class="about-list-items">
                    <li *ngFor="let points of homeContent.aboutUs.aboutPoints;">
                        <span class="about-list-items-icon">
                            <i aria-hidden="true" class="fa fa-check"></i> </span>
                        <span>{{points.text}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 home-about-display-flex">
                <img [src]="homeContent.aboutUs.aboutImg" class="home-about-img" alt="home-about">
            </div>
        </div>
    </div>
</section>
<app-home-products></app-home-products>
<section>
    <div class="container drinks">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 drinks-data">
                <h2>{{homeContent.drinks.title}}</h2>
                <p>{{homeContent.drinks.dsc}}</p>
                <button class="drinks-btn mb-2">{{homeContent.drinks.buttonName}}</button>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 data-center">
                <img [src]="homeContent.drinks.imageUrl" [alt]="homeContent.drinks.title" >
            </div>
        </div>
    </div>
</section>