<!-- slider start -->
<app-slider></app-slider>
<!-- slider end -->
<section class="home-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6">
                <p class="title">About Kadat </p>
                <h2>
                    Tasty Juice is What We Deliver
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                </p>
                <ul class="about-list-items">
                    <li>
                        <span class="about-list-items-icon">
                            <i aria-hidden="true" class="fa fa-check"></i> </span>
                        <span>Himenaeos curae ex at platea</span>
                    </li>
                    <li>
                        <span class="about-list-items-icon">
                            <i aria-hidden="true" class="fa fa-check"></i> </span>
                        <span>Accumsan inceptos aliquet mus erat</span>
                    </li>
                    <li>
                        <span class="about-list-items-icon">
                            <i aria-hidden="true" class="fa fa-check"></i> </span>
                        <span>Hac auctor facilisis conubia taciti</span>
                    </li>
                    <li>
                        <span class="about-list-items-icon">
                            <i aria-hidden="true" class="fa fa-check"></i> </span>
                        <span>Ligula facilisi lacinia mus hac</span>
                    </li>
                    <li>
                        <span class="about-list-items-icon">
                            <i aria-hidden="true" class="fa fa-check"></i> </span>
                        <span>Ac malesuada phasellus fringilla porta dignissim.</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 home-about-display-flex">
                <img src="../../assets/images/home-about.jpg" class="home-about-img" alt="home-about">
            </div>
        </div>
    </div>
</section>
<app-home-products></app-home-products>
<section>
    <div class="container drinks">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 drinks-data">
                <h2>
                    Have you drink a glass of <span class="light-color">Kadat</span> today?
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
                <button class="drinks-btn mb-2">Send Enquiry</button>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 data-center">
                <img src="../../assets/images/3-Botol-e1642165057390.png" alt="Botol" >
            </div>
        </div>
    </div>
</section>